<nav class="navbar navbar-expand-lg bg-semidark fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-white" href="https://ocs-umd.uniminuto.edu/activeos/"><i class="fas fa-laptop fa-fw ms-3 me-2"></i>AcviteOS</a>
    <button class="navbar-toggler border-0 bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-ellipsis-v text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="./"><i class="fas fa-chart-line fa-fw me-2"></i>DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="fas fa-cogs fa-fw me-2"></i>Configuración</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
